Source: zflash
Section: admin
Priority: optional
Maintainer: Renê de Souza Pinto <rene@renesp.com.br>
Build-Depends: debhelper (>= 10), cmake, libgnutls28-dev, dh-exec
Standards-Version: 4.1.2
Homepage: https://github.com/zededa/zflash

Package: zflash
Architecture: arm64
Depends: ${shlibs:Depends}, ${misc:Depends}, dosfstools, fdisk, fuse, libfuse2, util-linux (>= 2.38)
Recommends: udisks2
Description: ZFlash Imaging utility
 A user-friendlytool for creating bootable media for EVE-OS Devices.
