Source: zflash
Section: admin
Priority: optional
Maintainer: Renê de Souza Pinto <rene@renesp.com.br>
Build-Depends: debhelper (>= 13), cmake, libgnutls28-dev, dh-exec
Standards-Version: 4.1.2
Homepage: https://github.com/zededa/zflash

Package: zflash
Build-Profiles: <!amd64 !embedded>
Architecture: arm64
Depends: ${shlibs:Depends}, ${misc:Depends}, dosfstools, fdisk, fuse, libfuse2, util-linux (>= 2.37)
Recommends: udisks2
Conflicts: zflash-embedded, zflash-amd64
Description: ZFlash Imaging utility
 A user-friendly tool for creating bootable media for EVE-OS Devices.

Package: zflash-amd64
Build-Profiles: <amd64 !embedded>
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, dosfstools, fdisk, fuse, libfuse2, util-linux (>= 2.37)
Recommends: udisks2
Conflicts: zflash-embedded, zflash
Description: ZFlash Imaging utility (x86_64)
 A user-friendly tool for creating bootable media for EVE-OS Devices.
 .
 This is the x86_64/amd64 version.

Package: zflash-embedded
Build-Profiles: <embedded>
Architecture: arm64
Depends: ${shlibs:Depends}, ${misc:Depends}, 
         dosfstools, fdisk, fuse, libfuse2, util-linux (>= 2.37),
         libegl1-mesa, libgles2-mesa, libgbm1, libdrm2,
         libinput10, libudev1, libraspberrypi0 | mesa-utils
Recommends: udisks2, gpu-mem-256 | raspi-config
Conflicts: zflash, zflash-amd64
Description: ZFlash Imaging utility
 A user-friendlytool for creating bootable media for EVE-OS Devices.
